@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
body {
  font-family: "Cairo", sans-serif !important;
}
.Heading-title {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 30px;
}
.about-heading-container,
.services-heading-container,
.rewards-heading-container,
.tabs-heading-container,
.aboutvideo-heading-container,
.tabs-heading-container {
  position: relative;
  z-index: 2;
}
.Heading-title::after {
  content: "";
  height: 2px;
  width: 400px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.Heading-title:hover::after {
  width: 50%;
}
@media (max-width: 576px) {
  .Heading-title::after {
    display: none;
  }
}

.about-content img {
  width: 50%;
  border: 2px solid #fff;
  margin: 30px auto;
  border-radius: 10px;
}
.About {
  background-image: url("../src/assets/two.png");
  background-size: cover;
  background-attachment: fixed;
}
.about-btn {
  background: #ee4e4e !important;
  transition: 0.5s ease-in-out;
}
.about-btn:hover {
  background: #77797b !important;
}
.services .item img {
  width: 70px;
  margin: auto;
}
.services .item {
  position: relative;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.services {
  background-image: url("../src/assets/three.png");
  background-size: cover;
  background-attachment: fixed;
}
.services .item h2,
.services .item p {
  transition: 0.5s ease-in-out;
}
.services-desc {
  color: white;
}
.services .item::after {
  content: "";
  background: #7bad41;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.services .item:hover::after {
  width: 100%;
}
.services .item:hover h2,
.services .item:hover p {
  color: white;
}

.rewards {
  background-image: url("../src/assets/one.png");
  background-size: cover;
  background-attachment: fixed;
}

.item_count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.item_count .icon {
  color: #7bad41;
  font-size: 35px;
  transition: 0.5s ease-in-out;
}
.item_count .num {
  background: #ee4e4e;
  color: white;
  padding: 8px 30px;
  border-radius: 10px;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.item_count .text {
  padding: 8px 30px;
  color: #222 !important;
  font-weight: bold;
  width: 100%;
  border-radius: 10px !important;
  transition: 0.5s ease-in-out;
}

.item_count .num:hover {
  background: #7bad41;
  color: white;
}
.item_count .text:hover {
  color: white !important;
  background: #7bad41;
}
.item_count .icon:hover {
  color: #ee4e4e;
}

.tab-btn {
  width: 150px;
  background: #ee4e4e;
  padding: 7px 10px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.tab-btn:hover,
.activeTab {
  background: #7bad41;
}
.AboutVideo {
  background-image: url("../src/assets/four.png");
  background-size: cover;
  background-attachment: fixed;
}
.video-container video {
  margin: auto;
  border: 2px solid #7bad41;
  border-radius: 10px;
  width: 50%;
}
@media (max-width: 767px) {
  .video-container video {
    width: 80%;
  }
}
.about-video-desc {
  color: white;
}
.tabs {
  background-image: url("../src/assets/five.png");
  background-size: cover;
  background-attachment: fixed;
}
/* whatsapp*/
.whats {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: block;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.5s eas-in-out;
  z-index: 9999999;
}
.whats svg {
  font-size: 30px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  background-color: #ee4e4e;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.5s eas-in-out;
  z-index: 998;
}
.scroll-to-top svg {
  width: 20px !important;
  fill: white !important;
  font-weight: bold;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  z-index: 99;
}
.feature-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 0.5s ease-in-out;
  width: 50%;
  height: 0%;
  background: #8dbf9c;
  z-index: -1;
}
.feature-item::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.5s ease-in-out;
  width: 50%;
  height: 0%;
  background: #8dbf9c;
  z-index: -1;
}
.feature-item svg {
  fill: #ee4e4e !important;
  font-size: 50px;
  margin-bottom: 10px;
}
.feature-item h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.feature-item:hover::after {
  height: 100%;
}
.feature-item:hover::before {
  height: 100%;
}



.cards .item:hover h5,
.cards .item:hover p {
  color: white;
}

.contact {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c387.762C74.67%2c394.237%2c150.486%2c372.778%2c212.957%2c331.367C274.95%2c290.273%2c315.61%2c225.899%2c346.351%2c158.173C377.037%2c90.567%2c409.488%2c15.392%2c388.734%2c-55.892C368.502%2c-125.383%2c291.746%2c-157.39%2c239.804%2c-207.791C193.127%2c-253.084%2c159.688%2c-313.749%2c98.97%2c-337.061C36.016%2c-361.232%2c-32.232%2c-345.582%2c-99.235%2c-337.963C-179.839%2c-328.797%2c-269.935%2c-339.791%2c-332.383%2c-288.011C-397.039%2c-234.4%2c-437.29%2c-145.922%2c-431.93%2c-62.102C-426.762%2c18.722%2c-350.302%2c72.142%2c-305.058%2c139.315C-268.105%2c194.178%2c-241.762%2c254.611%2c-190.473%2c296.382C-134.742%2c341.77%2c-71.606%2c381.552%2c0%2c387.762' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1166.44C1554.128 1154.953 1667.252 1125.048 1758.286 1055.262 1845.271 988.5799999999999 1897.47 889.102 1935.752 786.402 1971.983 689.204 1987.2150000000001 586.114 1971.375 483.6 1955.647 381.81100000000004 1915.196 284.503 1846.362 207.885 1778.253 132.07299999999998 1680.445 99.10500000000002 1587.798 56.64499999999998 1479.199 6.874000000000024 1375.764-77.81799999999998 1257.347-62.059999999999945 1134.884-45.76400000000001 1017.764 33.64700000000005 956.107 140.704 897.048 243.25099999999998 949.629 370.19399999999996 940.453 488.176 932.052 596.188 881.607 698.669 904.473 804.567 930.5509999999999 925.3430000000001 975.3140000000001 1054.585 1077.691 1123.7640000000001 1180.531 1193.2559999999999 1316.506 1178.87 1440 1166.44' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") !important;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}
