@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
body {
  font-family: "Cairo", sans-serif !important;
}

.Heading-title {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 30px;
}
.about-heading-container,
.services-heading-container,
.contact-heading-container,
.rewards-heading-container,
.tabs-heading-container,
.aboutvideo-heading-container,
.tabs-heading-container,
.robot-heading-container,
.packing-heading-container {
  position: relative;
  z-index: 2;
}
.Heading-title::after {
  content: "";
  height: 2px;
  width: 400px;
  background-color: #2c3f2d;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.Heading-title:hover::after {
  width: 50%;
}
@media (max-width: 576px) {
  .Heading-title::after {
    display: none;
  }
}

.about-content img {
  margin: auto;
}
.About,
.robot_palletizers,
.packing_machines {
  background-image: url("../src/assets/bgg.png");
  background-size: cover;
  background-attachment: fixed;
}
.robot_item{
  height: 620px !important;
}
@media (max-width: 475px) {
  .robot_item{
    height: 100% !important;
  }
}

.robot_item img{
  height: 320px !important;
}
.robot_item p {
  line-height: 1.6 !important;
}
.about-btn {
  transition: 0.5s ease-in-out;
}
@media (max-width:1022px) {
  .about-btn {
    margin: auto;
  }
  .about-content{
    text-align: center;
  }
}

.services .item img {
  width: 70px;
  margin: auto;
}
.services .item {
  position: relative;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.services {
  background-image: url("../src/assets/bgg.png");
  background-size: cover;
  background-attachment: fixed;
}
.services .item h2,
.services .item p {
  transition: 0.5s ease-in-out;
}
.services-desc {
  color: #2c3f2d !important;
}
.services .item::after {
  content: "";
  background: #7bad41;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.services .item:hover::after {
  width: 100%;
}
.services .item:hover h2,
.services .item:hover p {
  color: white;
}

.rewards {
  background-image: url("../src/assets/bgg2.png");
  background-size: cover;
  background-attachment: fixed;
}

.item_count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.item_count .icon {
  color: #7bad41;
  font-size: 35px;
  transition: 0.5s ease-in-out;
}
.item_count .num {
  background: #7bad41;
  color: white;
  padding: 8px 30px;
  border-radius: 10px;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.item_count .text {
  padding: 8px 30px;
  color: #222 !important;
  font-weight: bold;
  width: 100%;
  border-radius: 10px !important;
  transition: 0.5s ease-in-out;
}

.item_count .num:hover {
  background: #7bad41;
  color: white;
}
.item_count .text:hover {
  color: white !important;
  background: #2c3f2d ;
}
.item_count .icon:hover {
  color: #ee4e4e;
}

.tab-btn {
  width: 150px;
  background: #ee4e4e;
  padding: 7px 10px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.tab-btn:hover,
.activeTab {
  background: #7bad41;
}
.AboutVideo {
  background-image: url("../src/assets/bgg2.png");
  background-size: cover;
  background-attachment: fixed;
}
.video-container video {
  margin: auto;
  border: 2px solid #7bad41;
  border-radius: 10px;
  width: 50%;
}
@media (max-width: 767px) {
  .video-container video {
    width: 80%;
  }
}
.about-video-desc {
  color: white;
}
.tabs {
  background-image: url("../src/assets/bgg.png");
  background-size: cover;
  background-attachment: fixed;
}
/* whatsapp*/
.whats {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: block;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.5s eas-in-out;
  z-index: 9999999;
}
.whats svg {
  font-size: 30px;
}

.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 45px;
  height: 45px;
  display: block;
  background-color: #ee4e4e;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: all 0.5s eas-in-out;
  z-index: 998;
}
.scroll-to-top svg {
  width: 10px !important;
  fill: white !important;
  font-weight: bold;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  z-index: 99;
}
.feature-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 0.5s ease-in-out;
  width: 50%;
  height: 0%;
  background: #7bad41;
  z-index: -1;
}
.feature-item::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.5s ease-in-out;
  width: 52%;
  height: 0%;
  background: #7bad41;
  z-index: -1;
}
.feature-item svg {
  fill: #000 !important;
  font-size: 50px;
  margin-bottom: 10px;
}
.feature-item h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.feature-item:hover::after {
  height: 100%;
}
.feature-item:hover::before {
  height: 100%;
}


.contact {
  background-image: url("../src/assets/bgg.png");
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}
.navbar{
  background-image: linear-gradient(90deg,#a6a6a6,#ffffff);

}
.mySwiper{
  background-image: url("../src/assets/bgg.png");
}
.swiper-button-prev{
  margin-left: 30px;
  color:#000;
}
.swiper-button-next{
  margin-right: 30px;
  color:#000;
}
.swiper-button-next::after{
  font-size: 30px;
}
.swiper-button-prev::after{
  font-size: 30px;
}
@media (max-width:767px) {
  .swiper-button-prev{
    margin-left: 0;
    color:#000;
  }
  .swiper-button-next{
    margin-right: 0;
    color:#000;
  }
  .swiper-button-next::after{
    font-size: 20px;
  }
  .swiper-button-prev::after{
    font-size: 20px;
  }
}
input::placeholder{
  color: #eee !important;
}
textarea::placeholder{
  color: #eee !important;
}
@media (max-width:767px) {
  footer{
    text-align: center;
  }
  form{
    text-align: center;
  }
  .btn-form{
    margin: auto;
  }
}

html[dir="rtl"] .contact-text svg{
  margin-left:15px ;
}
.swiper-pagination span{
  background-color: #7bad41;
}
li {
  list-style: none !important;
}

.robot_item,
.packing_item {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: relative;
}
.robot_item_heading,
.packing_item_heading {
  font-size: 35px;
}
.robot_item img {
  /* width: 300px !important; */
  /* height: 298px !important; */
  margin: 0 auto 20px ;
}
@media (max-width: 350px) {
  .robot_item img {
    width: 200px !important;
  } 
}
.robot_item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.robot_item_overlay a {
  background-color: #7bad41;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.robot_item_overlay a:hover {
  background: white;
  color: black;
}
.robot_item:hover .robot_item_overlay {
  height: 100%;
}

@media (max-width: 991px) {
  .packing_item_details {
    flex-wrap: wrap;
    text-align: center;
  }
  .packing_item_details img {
    margin: auto;
  }
}
.pack-video-container video {
  border: 5px solid #7bad41;
}
.owl-nav{
  font-size: 60px;
  display: flex !important;
  justify-content: space-around;
}
.owl-nav button{
  margin-top: -20px;
}
.owl-nav button span{
  transition: all .3s ease-in-out;
}
.owl-nav button:hover span{
  color: #7bad41 ;
}
@media (min-width: 768px) {
  .robot_item{
    height: auto;
  }
 
}

[data-aos^=zoom][data-aos^=zoom].aos-animate{
  opacity: 1 !important;
    transform: translateZ(0) scale(1) !important;
}

@media (max-width: 1200px) {
.robot_about{
  text-align: center;
  flex-direction: column;
}
}

/********************************/

@media (max-width: 991px) {
  .TopLoad_content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .TopLoad_content p {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .TopLoad_content p {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .TopLoad_content p {
    font-size: 22px;
  }
}
.react-tabs__tab-list {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .react-tabs__tab-list {
    justify-content: center;
  }
  .react-tabs__tab-panel table {
    margin: auto;
    width: 100%;
  }
}
.react-tabs__tab {
  color: white;
  font-weight: bold;
  background-color: #a59c90;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.3s ease-in-out;
}
.react-tabs__tab--selected,
.react-tabs__tab:hover {
  background-color: #7bad41 !important;
  color: white !important;
  font-weight: bold;
}
.react-tabs__tab-panel {
  background: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.topload-table,
.topload-table tr,
.topload-table td {
  border: 1px solid #222;
  padding: 10px;
}
@media (max-width: 767px) {
  .react-tabs__tab-panel table td,
  .react-tabs__tab-panel p {
    font-size: 13px;
  }
}
.react-tabs__tab-panel p::before {
  content: "»";
  margin-right: 7px;
}
input:focus,textarea:focus{
  box-shadow: none !important ;
  border: 2px solid #7bad41 !important;
}

.contact_item{
  border-bottom: 1px solid #777;
  margin-bottom: 20px;
}